@model LocationData.AEdLocation

@{
  ViewBag.Title = "Edit";
}
@section Header {
  <div data-role="header" data-add-back-btn="true">
    @Html.ActionLink("Back", "Index", "Location", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
  </div>
}
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset>
    <legend>AEdLocation</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.FirstName)
      @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    @Html.HiddenFor(model => model.ID)

    <div class="editor-label">
      @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.LastName)
      @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Address)
      @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Latitude)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Latitude)
      @Html.ValidationMessageFor(model => model.Latitude)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Longitude)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Longitude)
      @Html.ValidationMessageFor(model => model.Longitude)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Comments)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Comments)
      @Html.ValidationMessageFor(model => model.Comments)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Contact)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Contact)
      @Html.ValidationMessageFor(model => model.Contact)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Email)
      @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Phone)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Phone)
      @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.PublicAccess)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.PublicAccess)
      @Html.ValidationMessageFor(model => model.PublicAccess)
    </div>

    <div class="editor-field">
      <input type="submit" value="Save" />
    </div>
</fieldset>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
